/questions
/questions_copy
/secrets
/questions_old
*.db
/.env
ai.env
FIREBASE_CRED.json
backend/node_modules
backend/questions
code_sandbox/node_modules
test_questions
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

**/.venv


emulator-data/firebase-export-metadata.json
emulator-data
firebase-debug.log
firebase-export-**
.vscode
.github

backend/src/service/sandbox_execution/test_question

emulator-data
firebase-export-**
firebase-debug.log
.vscode/PythonImportHelper-v2-Completion.json
**/.env.docker
frontend/node_modules/**
**/.env.dev.**
frontend/.env.dev.docker
frontend/node_modules
/sql_scripts